
.floatWpp {
	position:fixed;
	min-width:60px;
	min-height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:28px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.floatWpp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
  
}


.my-float-wpp{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

